* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    background-color: #1E3A8A ;
    padding: 15px;
    text-align: center;
    /*background: linear-gradient( #b7d8f6, #1E3A8A); /*degradê*/
    height: 230px;
}
header p{
    font-size:20px;
    color:#0F172A
}

header h1{
   font-size: 40px;
}
body{
  background-color: #b7d8f6 ;
}
.sobre2{
  border: 3px solid  #1E3A8A ;
  background-color: #b7d8f6 ;
  margin-top: 10px;
  width: 900px;
  border-radius: 15px;
  margin: 0px auto;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  list-style: inside;
}
#imagem1{
    display: block;
    width: 20%;
   margin: 0px auto;
}

nav{
  margin-top: 10px;
}

nav a{
  display: inline-block; /*faz os links ficarem na horizontal*/
  background-color:  #2563EB;
  color: #0F172A;
  padding: 10px 18px;
  border-radius: 10px;
  margin: 5px 10px;
  text-decoration: none; /*tira o sublinhado*/
}

img{
    display: block;
    width: 50%;
    margin: 0px auto;
    padding: 15px 22px;
    border-radius: 15px;
}

main{
    background-color: #a4c2df ;
    border: 4px solid  #558ad4;
    background-color: #f9fffe;
    width: 1000px;
    margin: 0px auto;
    padding: 20px ;
    border-radius: 15px;
    margin-top: 1px;
    margin-bottom: 300px;
}
main p{
  margin-top: 10px;
  margin-bottom: 5px;
}

main li{
  margin-top: 5px;
}

